@model RentACar.WebUI.ViewModels.VehicleAndCarViewModel
@{
    ViewBag.Title = "CreateCar";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@if (TempData["success"] != null)
{
    <div class="x_content bs-example-popovers">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>İşlem Başarılı !</strong> @TempData["success"]
        </div>
    </div>
}



<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Otomobil Ekleme</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <form action="~/AdminPanel/CreateCar" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                    <div class="x_content">

                        <!-- Smart Wizard -->
                        <p>Otomobile ait tüm özellikleri aşağıdan ekleyebilirsiniz.</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            Adım 1<br />
                                            <small>Temel bilgiler</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            Adım 2<br />
                                            <small>Otomobil detay bilgiler</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                            Adım 3<br />
                                            <small>Fotoğraf Ekle</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                            Adım 4<br />
                                            <small>Ön izleme</small>
                                        </span>
                                    </a>
                                </li>
                            </ul>

                            <div id="step-1">


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Marka <span class="required">*</span>
                                    </label>
                                    @*@Html.LabelFor(model => model.Vehicle.VehicleBrand, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.VehicleBrand, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })
                                        @*<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Model <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.VehicleModel, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Plaka <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.LicensePlate, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Fiyat <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.VehiclePrice, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Model Yılı <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.VehicleModelYear, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Yakıt Tipi <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <select id="Vehicle.VehicleFuel" class="form-control" name="Vehicle.VehicleFuel" required>
                                            @foreach (var fuel in Model.ListFuelType)
                                            {
                                                <option value="@fuel.Fuel">@fuel.Fuel</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Ehliyet Yaş Sınırı <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Vehicle.VehicleAgeLimit, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>

                            </div>
                            <div id="step-2">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Vites Tipi <span class="required">*</span>
                                    </label>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control" name="Car.GearType" required>
                                            @foreach (var gear in Model.ListGearType)
                                            {
                                                <option value="@gear.Gear">@gear.Gear</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Kasa Tipi <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="heard" class="form-control" name="Car.VehicleType" required>
                                            @foreach (var vehicleType in Model.ListVehicleType)
                                            {
                                                <option value="@vehicleType.TypeOfVehicle">@vehicleType.TypeOfVehicle</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Koltuk Sayısı <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Car.SeatingCapacity, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", required = "required" } })

                                    </div>
                                </div>




                            </div>
                            <div id="step-3">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Otomobile ait temsili bir fotoğraf seçiniz.</h2>
                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li>
                                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a href="#">Settings 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Settings 2</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <center><input type="file" name="CarsPhoto" id="CarsPhoto" accept=".png, .jpg, .jpeg" /></center>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4">
                                <div id="onizleme">

                                </div>
                            </div>


                        </div>

                        <!-- End SmartWizard Content -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#CarsPhoto").change(function () {
            readURL(this);
        });
        $("#_nextBtn").click(function () {

            var brand = $("input[id=Vehicle_VehicleBrand]").val();
            var model = $("input[id=Vehicle_VehicleModel]").val();
            var licensePlate = $("input[id=Vehicle_LicensePlate]").val();
            var modelYear = $("input[id=Vehicle_VehicleModelYear]").val();
            var ageLimit = $("input[id=Vehicle_VehicleAgeLimit]").val();
            var seatingCapacity = $("input[id=Car_SeatingCapacity]").val();
            var imgSrc = $("#blah").attr('src');
            var price = $("input[id=Vehicle_VehiclePrice]").val();


            var code = '<div class="x_panel"> <div class="x_title"><h2>' + brand + ' ' + model + ' ' + licensePlate + '</h2><ul class="nav navbar-right panel_toolbox"></ul><div class="clearfix"></div></div><div class="x_content"><div class="col-md-7 col-sm-7 col-xs-12"><div class="product-image"><img id="blah" src="' + imgSrc + '" alt=""/></div></div><div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;"><h3 class="prod_title">' + brand + ' ' + model + ' ' + licensePlate + '</h3><h4 style="color:red">Marka Model</h4><p>' + brand + ' ' + model + '</p><h4 style="color:red">Model Yılı</h4><p>' + modelYear + '</p><h4 style="color:red">Yakıt Türü</h4><p>BURASI ÇALIŞMIYOR </p><h4 style="color:red">Ehliyet Yaş Sınırı</h4><p>' + ageLimit.toString() + ' Yaş</p><h4 style="color:red">Vites Türü</h4><p>BURASI ÇALIŞMIYOR</p><h4 style="color:red">Koltuk Sayısı</h4><p>' + seatingCapacity.toString() + ' Koltuk</p><h4 style="color:red">Kasa Tipi</h4><p>BURASI ÇALIŞMIYOR</p> <div class=""><div class="product_price"><h1 class="price">' + price.toString() + ' &#8378;</h1><span class="price-tax">Günlük Kiralama Fiyatıdır.</span><br></div></div></div></div></div>';
            $("div#onizleme").empty();
            $("div#onizleme").append(code);


        });
    });
</script>